.container {
  align-items: center;
  background-color: cyan;
}
#top {
  height: 60px;
  text-align: left;
  background-color: darkcyan;
}
#akanname {
    color: blue;
    text-align: center;
    font-size: 35px;
}
