.container {
  align-items: center;
  background-color: cyan;
}

#top {
  height: 40px;
  text-align: left;
  background-color: darkcyan;
}
#akanname {
  color: blue;
  text-align: left;
  font-size: 35px;
}
